# Extended Data Cleansing

Let's use the "Adult Income" dataset from the UCI Machine Learning Repository, which is a larger dataset with both numeric and categorical attributes. You can find it __[here](https://archive.ics.uci.edu/ml/datasets/adult)__.

First, download the dataset and load it into a DataFrame:

In [1]:
import pandas as pd
import numpy as np

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
column_names = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

df = pd.read_csv(url, header=None, names=column_names, na_values=' ?', skipinitialspace=True)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K



The `na_values` and `skipinitialspace` arguments help us identify missing values in the dataset, as they are represented by a question mark with a preceding space.

Now let's introduce some missing values to the numeric columns for practice purposes:

In [2]:
np.random.seed(42)
df.loc[np.random.choice(df.index, 200, replace=False), "age"] = np.nan
df.loc[np.random.choice(df.index, 200, replace=False), "education-num"] = np.nan
df.loc[np.random.choice(df.index, 200, replace=False), "capital-gain"] = np.nan
df.loc[np.random.choice(df.index, 200, replace=False), "capital-loss"] = np.nan
df.loc[np.random.choice(df.index, 200, replace=False), "hours-per-week"] = np.nan


Now we can perform the data cleaning operations as before and observe their impact on the statistics of the numeric columns.

In [4]:
# Removing missing data
df_cleaned = df.dropna()
print("Removed Missing Data:\n", df_cleaned.describe())

Removed Missing Data:
                 age        fnlwgt  education-num  capital-gain  capital-loss  \
count  31570.000000  3.157000e+04   31570.000000  31570.000000  31570.000000
mean      38.583624  1.897399e+05      10.078334   1086.456193     86.868641
std       13.636909  1.055760e+05       2.572299   7426.371807    401.821067
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.177990e+05       9.000000      0.000000      0.000000
50%       37.000000  1.784170e+05      10.000000      0.000000      0.000000
75%       48.000000  2.368788e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    31570.000000
mean        40.439119
std         12.354784
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [5]:

# Replacing missing values with the mean
df_mean = df.fillna(df.mean(numeric_only=True))
print("Replaced with Mean:\n", df_mean.describe())

Replaced with Mean:
                 age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.576187  1.897784e+05      10.080653   1081.566330     87.527425
std       13.596188  1.055500e+05       2.564976   7382.632517    402.284764
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       47.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    32561.000000
mean        40.434999
std         12.301405
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [6]:

# Replacing missing values with the median
df_median = df.fillna(df.median(numeric_only=True))
print("Replaced with Median:\n", df_median.describe())

Replaced with Median:
                 age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.566506  1.897784e+05      10.080157   1074.923006     86.989804
std       13.596746  1.055500e+05       2.564983   7383.116155    402.342889
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       47.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    32561.000000
mean        40.432327
std         12.301452
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [7]:

# Replacing missing values using forward fill
df_ffill = df.fillna(method='ffill')
print("Replaced with Forward Fill:\n", df_ffill.describe())

Replaced with Forward Fill:
                 age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.587728  1.897784e+05      10.079697   1081.508338     87.497743
std       13.648737  1.055500e+05       2.572835   7404.969132    403.579013
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count     32561.00000
mean         40.43721
std          12.32831
min           1.00000
25%          40.00000
50%          40.00000
75%          45.00000
max          99.00000

In [8]:

# Replacing missing values using backward fill
df_bfill = df.fillna(method='bfill')
print("Replaced with Backward Fill:\n", df_bfill.describe())

Replaced with Backward Fill:
                 age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.567704  1.897784e+05      10.081416   1080.164399     87.354504
std       13.637160  1.055500e+05       2.572446   7404.024329    403.168728
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    32561.000000
mean        40.434815
std         12.352386
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000



The `describe()` function provides summary statistics for each numeric column in the DataFrame. By comparing these statistics across different cleaning methods, you can observe the impact on the dataset's distribution.


Extra exercises:

1. Compare the mean and standard deviation for each numeric column after applying different missing value handling techniques. What are the advantages and disadvantages of each method?

2. Investigate the impact of missing value handling techniques on the correlation between numeric columns. Use the `corr()` method to compute the correlation matrix for the original dataset and each cleaned version. How do different methods affect the correlation?

3. Identify columns with a high percentage of missing values. Experiment with different threshold values and decide whether to remove or impute these columns.

4. Explore advanced imputation methods, such as k-Nearest Neighbors or regression-based imputation, using the `sklearn.impute` module. Compare their performance with the basic methods covered in this notebook.