Import necessary libraries

In [29]:
import polars as pl
import pandas as pd

Load data into a Polars DataFrame

In [30]:

df = pl.read_csv('data-engineer/data.csv')

Preview the first 5 rows of the DataFrame

In [31]:
df.head(5)

shape: (5, 3)
┌─────────┬─────────┬─────────┐
│ column1 ┆ column2 ┆ column3 │
│ ---     ┆ ---     ┆ ---     │
│ i64     ┆ i64     ┆ i64     │
╞═════════╪═════════╪═════════╡
│ 1       ┆ 10      ┆ 100     │
│ 2       ┆ 20      ┆ 200     │
│ 3       ┆ 30      ┆ 300     │
│ 4       ┆ 40      ┆ 400     │
│ 5       ┆ 50      ┆ 500     │
└─────────┴─────────┴─────────┘

Rename columns in the DataFrame

In [32]:
df = df.rename({'column1': 'Anything'})
df.head()

shape: (5, 3)
┌──────────┬─────────┬─────────┐
│ Anything ┆ column2 ┆ column3 │
│ ---      ┆ ---     ┆ ---     │
│ i64      ┆ i64     ┆ i64     │
╞══════════╪═════════╪═════════╡
│ 1        ┆ 10      ┆ 100     │
│ 2        ┆ 20      ┆ 200     │
│ 3        ┆ 30      ┆ 300     │
│ 4        ┆ 40      ┆ 400     │
│ 5        ┆ 50      ┆ 500     │
└──────────┴─────────┴─────────┘

Drop columns from the DataFrame

In [33]:
df = df.drop(['column2', 'column3'])
df.head()

shape: (5, 1)
┌──────────┐
│ Anything │
│ ---      │
│ i64      │
╞══════════╡
│ 1        │
│ 2        │
│ 3        │
│ 4        │
│ 5        │
└──────────┘

Filter rows based on a condition

In [34]:
df = pl.read_csv('data-engineer/data.csv')
df.head(10)

shape: (10, 3)
┌─────────┬─────────┬─────────┐
│ column1 ┆ column2 ┆ column3 │
│ ---     ┆ ---     ┆ ---     │
│ i64     ┆ i64     ┆ i64     │
╞═════════╪═════════╪═════════╡
│ 1       ┆ 10      ┆ 100     │
│ 2       ┆ 20      ┆ 200     │
│ 3       ┆ 30      ┆ 300     │
│ 4       ┆ 40      ┆ 400     │
│ …       ┆ …       ┆ …       │
│ 7       ┆ 70      ┆ 700     │
│ 8       ┆ 80      ┆ 800     │
│ 9       ┆ 90      ┆ 900     │
│ 10      ┆ 1000    ┆ null    │
└─────────┴─────────┴─────────┘

In [35]:
df_filtered = df.filter(df['column2'] > 20)
df_filtered

shape: (8, 3)
┌─────────┬─────────┬─────────┐
│ column1 ┆ column2 ┆ column3 │
│ ---     ┆ ---     ┆ ---     │
│ i64     ┆ i64     ┆ i64     │
╞═════════╪═════════╪═════════╡
│ 3       ┆ 30      ┆ 300     │
│ 4       ┆ 40      ┆ 400     │
│ 5       ┆ 50      ┆ 500     │
│ 6       ┆ 60      ┆ 600     │
│ 7       ┆ 70      ┆ 700     │
│ 8       ┆ 80      ┆ 800     │
│ 9       ┆ 90      ┆ 900     │
│ 10      ┆ 1000    ┆ null    │
└─────────┴─────────┴─────────┘

Group by a column and aggregate another column using mean function

In [38]:
grouped_df = df.groupby('column2').agg([
        pl.mean('column3'),
        # pl.col('column3')
])
#['column3'].mean()

DuplicateError: column with name 'column3' has more than one occurrences

Error originated just after this operation:
DF ["column1", "column2", "column3"]; PROJECT */3 COLUMNS; SELECTION: "None"

Join two DataFrames together based on a common column

In [ ]:
df1 = pl.read_csv('data1.csv')
df2 = pl.read_csv('data2.csv')
merged_df = df1.join(df2, on='common_column')

Convert Polars DataFrame to Pandas DataFrame for further analysis or visualization

In [ ]:
pandas_df = df.to_pandas()